@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Prompt:wght@300&display=swap');

:root{
  --c1: 2;
  --c2: 0;
  --c3: 50;
  --d1: calc(255 - var(--c1));
  --d2: calc(255 - var(--c2));
  --d3: calc(255 - var(--c3));
  --theme-color: rgb(var(--c1),var(--c2),var(--c3));
  --theme-color-opposite: rgb(var(--d1), var(--d2), var(--d3));
  --shadow-color: rgb(var(--c1), var(--c2), var(--c3), .7);
}

* {
  font-family: 'Martian Mono', monospace;
  font-variant: small-caps;
  color: var(--theme-color-opposite);
}

.favicon{
    display: none;
}

body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--theme-color);
}

#main-canvas{
  background-color: var(--theme-color);
}


nav {
  position: fixed;
  height: 100%;
  max-width: 25%;
  background-color: rgba(var(--d1), var(--d2), var(--d3), .6);
  overflow-y: scroll;
  overflow-x: hidden;
}

nav::-webkit-scrollbar{
  width: 10px;
}

nav::-webkit-scrollbar-track{
  background: var(--theme-color-opposite);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: var(--theme-color);
  border: 2px var(--theme-color-opposite) solid;
  border-radius: 7px;
}


nav>* {
  text-align: center;
  padding: 1%;
}

#heading-text {
  font-size: 150%;
  color: var(--theme-color);
}

:root{
  --head-icon-rotate-angle: 36deg;

}

@keyframes head-icon-animation {
  from{transform: rotate(calc(var(--head-icon-rotate-angle) * 0));}
  to{transform: rotate(calc(var(--head-icon-rotate-angle) * 10));}
}


svg.head-icon{
  --head-icon-side: 10vw;
  width: var(--head-icon-side);
  height: var(--head-icon-side);
  margin: auto;
  display: block;
  animation-name: head-icon-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
  padding: 0;
}

#head-icon-inner{
  stroke: var(--theme-color-opposite);
  fill: var(--theme-color-opposite);
}


#head-icon-outer{
  stroke: var(--theme-color);
  fill: var(--theme-color);
}


.choose {
  margin: 10% 7%;
  border-left: 2px var(--theme-color) solid;
  border-right: 2px var(--theme-color) solid;
  padding-top: 5%;
}

.choose>*{
  --choose-child-margin: 10%;
  display: block;
  margin: auto;
  margin-top: var(--choose-child-margin);
  margin-bottom: var(--choose-child-margin);
  text-shadow: 1px 1px var(--theme-color);
}

.choose-text {
  font-size: larger;
}

.choose-line {
  background-color: var(--theme-color);
  border: 1px var(--theme-color) solid;
  width: 100%;
}

input[type=range]#length-picker {
  --length-picker-margin: 20%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--theme-color);
  color: var(--theme-color);
  width: 90%;
  height: 2px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  margin-top: var(--length-picker-margin);
  margin-bottom: var(--length-picker-margin);
  border-radius: 2px;
}

.color-picker-container {
  cursor: pointer;
}

@keyframes color-picker-click {
  0%{
    box-shadow: 3px 3px var(--shadow-color);
  }
  12.5%{
    box-shadow: 2px 2px var(--shadow-color);
  }
  50%{
    box-shadow: 1px 1px var(--shadow-color);
  }
  100%{
    box-shadow: 0px 0px var(--shadow-color);
  }
}

input[type="color"].color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 transparent solid;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 25%;
  cursor: pointer;
  box-shadow: 3px 3px var(--shadow-color);
  initial-value: var(--theme-color);
}

input[type="color"].color-picker:hover {
  box-shadow: 0 0 transparent;
  animation-name: color-picker-click;
  animation-duration: .5s;
}

.color-picker-png {
  width: 1.5%;
  height: 1.5%;
}

#line-picker-png{
  fill: var(--theme-color-opposite);
  stroke: var(--theme-color-opposite);
}


.btn {
  background: transparent;
  box-shadow: 5px 5px var(--shadow-color);
  border-radius: 7px;
  cursor: pointer;
  font-size: 100%;
  overflow: hidden;
  padding: 3% 3%;
  min-height: 2%;
  position: relative;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bolder;
  border: var(--theme-color) 2px solid;
}

@keyframes btn-click {
  0%{
    background-color: transparent;
    box-shadow: 3px 3px var(--shadow-color);
  }
  12.5%{
    background-color: rgb(255, 0, 0);
    box-shadow: 2px 2px var(--shadow-color);
  }
  50%{
    background-color: rgb(0, 255, 0);
    box-shadow: 1px 1px var(--shadow-color);
  }
  100%{
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 0px var(--shadow-color);
  }
}

.btn:hover{
  animation-name: btn-click;
  animation-duration: .5s;
  background-color: var(--shadow-color);
  box-shadow: 0px 0px transparent;
}

.btn:active{
  background: transparent;
}
