html,
body,
canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

body{
    background-image: url('bg.jpg');
}

canvas{
    background-color: rgba(0, 0, 0, 0.5);
}