
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

body {
  margin: 0;
  display: flex;
  height: 100vh;
  min-height: 100vh;
  background-color: #0A1529;
  font-family: Montserrat;
}

canvas {
  width: 100%;
  background-color: #0A1529;
  position: fixed;
}

body:nth-child(n) {
  padding: 0;
  color: aqua;
  justify-content: center;
  text-align: center;
}

nav:nth-child(n) {
  text-align: center;
}

#hero-photo {
  max-height: 20vh;
  border: 0cap solid;
  border-radius: 50%;
}

#project-link:link, #project-link:visited{
  font-size: 5em;
  color: rgb(0, 255, 128);
  text-decoration: none;
  display: block;
}

#project-iframe{
  width: 50vw;
  height: 25vh;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 2px black solid;
  border-radius: 20px;
}

