
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root{
  --border-color: rgb(0, 255, 128);
  --border-thickness: 2px;
  --border: var(--border-thickness) var(--border-color) solid;
  --glass-bg: rgba(0,0,0,.3);
  --border-radius: 15px;
}

*{
  color: aqua;
  font-family: Montserrat;
}

body {
  margin: 0;
  height: 100vh;
  min-height: 100vh;
  background-color: #0A1529;
  text-align: center;
}

a:link, a:active{
  text-decoration: none;
}

nav{
  padding-top: 5vh;
}

nav>* {
  text-align: center;
}

main{
  padding-bottom: 10vh;
}

main>*{
  margin: auto;
  margin-top: 5vh;
  width: 95vw;
  border: 1px var(--border-color) solid;
  padding-bottom: 5vh;
}

.section-heading{
  font-size: 2em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  font-variant: small-caps;
  text-decoration: overline;
}

#bio-data{
  background-color: var(--glass-bg);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-datum{
  padding: .5em;
  text-align: left;
  margin: auto;
  display: list-item;
  font-size: 1.3em;
}

#hero-photo {
  max-height: 20vh;
  min-height: 7em;
  border: var(--border);
  border-radius: 50%;
}

#projects{
  background-color: var(--glass-bg);
  margin-top: 2vh;
}

.project{
  --project-padding: 5vh;
  display: block;
  padding-top: var(--project-padding);
  padding-bottom: var(--project-padding);
}

.project:link, .project:visited{
  text-decoration: none;
  text-align: center;
}

.project-heading{
  font-size: 2.5em;
  margin: auto 0;
  padding: auto 0;
  color: rgb(0, 255, 128);
}

.project-break-line{
  width: 70%;
}

.project-iframe{
  display: block;
  width: 80%;
  height: 40vh;
  border: var(--border);
  border-radius: var(--border-radius);
  overflow-x: hidden;
  overflow-y: hidden;
  margin: auto;
}

